/*
Input placeholder animation
*/

input[type=text]{
  padding-left: 33px ;
  margin-left: -24px;
}

.label-float{
  position: relative;
  padding-top: 13px;
}

.label-float input{
  border: 0;
  border-bottom: 1px solid lightgrey;
  outline: none;
  width: 100%;
  font-size: 16px;
  transition: all .2s ease-out;
  -webkit-transition: all .2s ease-out;
  -moz-transition: all .2s ease-out;
  -webkit-appearance:none;
  border-radius:0;
}

.label-float input:focus{
  border-bottom: 1px solid lightgray;
}

.label-float input::placeholder{
  color:transparent;
}

.label-float label{
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 13px;
  transition: all .2s ease-out;
  -webkit-transition: all .2s ease-out;
  -moz-transition: all .2s ease-out;
  color: #a6a6a6;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  margin-left: 30px;
}


.label-float input:required:invalid + label:before{
  content: '*';
}
.label-float input:focus + label,
.label-float input:not(:placeholder-shown) + label{
  font-size: 9px;
  margin-top: 0;
  color: #a6a6a6;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
}

